<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>

<div th:if="${errorMessage}" style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
    <strong>❌ Ошибка:</strong> <span th:text="${errorMessage}"></span>
</div>
<h1>🔐 Смена пароля</h1>



<!-- Форма смены пароля -->
<form th:action="@{/users/change_password}" method="post">
    <div>
        <label for="oldPassword">Старый пароль:</label>
        <input type="password" id="oldPassword" name="oldPassword" required />
    </div>
    <br/>

    <div>
        <label for="newPassword">Новый пароль:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <br/>
        <small>Минимум 4 символа</small>
    </div>
    <br/>

    <div>
        <label for="confirmPassword">Подтвердите пароль:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>
    <br/>

    <button type="submit">💾 Сменить пароль</button>
    <a href="/users/change_password">❌ сброс</a>
    <a class="nav-link btn btn-outline-danger" href="/logout">🚪 Выйти</a>
</form>
</body>
</html>