<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
</head>
<body>
<section>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Создание пользователя</a>
                <div class="d-flex gap-2 ms-auto">

                    <div class="d-flex ms-auto" sec:authorize="isAuthenticated()">
                        <a class="btn btn-danger" href="/logout"> Выйти</a>
                    </div>
                </div>
            </div>
        </nav>


        <div th:if="${errorMessage}" style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
            <strong>❌ Ошибка:</strong> <span th:text="${errorMessage}"></span>
        </div>
        <h2>🔐 Смена пароля</h2>

        <form th:action="@{/users/change_password}" method="post">

            <div>
                <label class="form-label" for="oldPassword">Старый пароль:</label>
                <input class="form-control" type="password" id="oldPassword" name="oldPassword" required />
            </div>

            <div>
                <label class="form-label" for="newPassword">Новый пароль:</label>
                <input class="form-control" type="password" id="newPassword" name="newPassword" required />
                <br/>
            </div>

            <div>
                <label class="form-label" for="confirmPassword">Подтвердите пароль:</label>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required />
            </div>
            <br>


            <button class="btn btn-primary"  type="submit">💾 Сменить пароль</button>
            <a class="btn btn-primary" href="/users/change_password">❌ сброс</a>

        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>