<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
</head>
<body>
<section>
    <div class="container">
        <h3 class="h3 mb-3 fw-normal">➕ Создание пользователя</h3>

        <form th:action="@{/users/create}" method="post" th:object="${user}">

            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text"
                       id="username"
                       th:field="*{username}"
                       placeholder="Введите username"
                       required />
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email"
                       id="email"
                       th:field="*{email}"
                       placeholder="Введите email"
                       required />
            </div>


            <div class="mb-3">
                <label for="roleSelect">Роль:</label>
                <select class="form-select"  id="roleSelect" th:field="*{role_id}" required>
                    <option value="">-- Выберите роль --</option>
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select>
            </div>

            <div class="form-check mb-3">
                    <input class="form-check-input" value="" id="checkDefault" type="checkbox" th:field="*{enabled}" />
                    <label class="form-check-label" for="checkDefault">
                    Активен
                </label>
            </div>


            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a class="btn btn-danger" href="/users">Отмена</a>
            </div>
        </form>

    </div>
</section>
<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>